<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.lilei.blog.dao.SortMapper">
  <resultMap id="BaseResultMap" type="pers.lilei.blog.po.Sort">
    <id column="sort_id" jdbcType="BIGINT" property="sortId" />
    <result column="sort_name" jdbcType="VARCHAR" property="sortName" />
    <result column="sort_description" jdbcType="VARCHAR" property="sortDescription" />
    <result column="parent_sort_id" jdbcType="BIGINT" property="parentSortId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    sort_id, sort_name, sort_description, parent_sort_id, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="pers.lilei.blog.po.SortExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_sort
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbl_sort
    where sort_id = #{sortId,jdbcType=BIGINT}
  </select>
  <select id="selectBySortName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbl_sort
    where sort_name = #{sortName,jdbcType=VARCHAR}
  </select>
  <select id="selectBySortNameWithoutSortId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbl_sort
    where sort_name = #{sortName,jdbcType=VARCHAR} AND sort_id != #{sortId,jdbcType=BIGINT}
  </select>
  <select id="selectAllSort" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbl_sort
  </select>
  <select id="selectSortByArticleId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbl_sort
    where sort_id in (select sort_id from tbl_article_sort where article_id = #{articleId,jdbcType=BIGINT});
  </select>
  <select id="selectSortByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbl_sort
    where sort_id in
    (select sort_id from tbl_article_sort where article_id in
    (select article_id from tbl_article where user_id = #{userId,jdbcType=BIGINT}) group by sort_id)
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tbl_sort
    where sort_id = #{sortId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="pers.lilei.blog.po.SortExample">
    delete from tbl_sort
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pers.lilei.blog.po.Sort">
    insert into tbl_sort (sort_id, sort_name, sort_description,
      parent_sort_id, create_time, update_time
      )
    values (#{sortId,jdbcType=BIGINT}, #{sortName,jdbcType=VARCHAR}, #{sortDescription,jdbcType=VARCHAR},
      #{parentSortId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="pers.lilei.blog.po.Sort">
    insert into tbl_sort
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sortId != null">
        sort_id,
      </if>
      <if test="sortName != null">
        sort_name,
      </if>
      <if test="sortDescription != null">
        sort_description,
      </if>
      <if test="parentSortId != null">
        parent_sort_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sortId != null">
        #{sortId,jdbcType=BIGINT},
      </if>
      <if test="sortName != null">
        #{sortName,jdbcType=VARCHAR},
      </if>
      <if test="sortDescription != null">
        #{sortDescription,jdbcType=VARCHAR},
      </if>
      <if test="parentSortId != null">
        #{parentSortId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pers.lilei.blog.po.SortExample" resultType="java.lang.Long">
    select count(*) from tbl_sort
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_sort
    <set>
      <if test="record.sortId != null">
        sort_id = #{record.sortId,jdbcType=BIGINT},
      </if>
      <if test="record.sortName != null">
        sort_name = #{record.sortName,jdbcType=VARCHAR},
      </if>
      <if test="record.sortDescription != null">
        sort_description = #{record.sortDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.parentSortId != null">
        parent_sort_id = #{record.parentSortId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_sort
    set sort_id = #{record.sortId,jdbcType=BIGINT},
      sort_name = #{record.sortName,jdbcType=VARCHAR},
      sort_description = #{record.sortDescription,jdbcType=VARCHAR},
      parent_sort_id = #{record.parentSortId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pers.lilei.blog.po.Sort">
    update tbl_sort
    <set>
      <if test="sortName != null">
        sort_name = #{sortName,jdbcType=VARCHAR},
      </if>
      <if test="sortDescription != null">
        sort_description = #{sortDescription,jdbcType=VARCHAR},
      </if>
      <if test="parentSortId != null">
        parent_sort_id = #{parentSortId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sort_id = #{sortId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="pers.lilei.blog.po.Sort">
    update tbl_sort
    set sort_name = #{sortName,jdbcType=VARCHAR},
      sort_description = #{sortDescription,jdbcType=VARCHAR},
      parent_sort_id = #{parentSortId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where sort_id = #{sortId,jdbcType=BIGINT}
  </update>
</mapper>
